@import '../../styles/index.scss';

.accueil{
    background-image: url('../../assets/quadrillage.jpg');
    background-repeat: repeat;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 15px;
}

.paragraphName{
    padding: 20px;

    h2{
        font-size: 25px;
        color: $secondary-color;
    }

    h1{
        margin-top: 10px;
        font-size: 40px;
        width: 250px;
    }
}