@import '../../styles/index.scss';

.app{
    background-image: url('../../assets/quadrillage.jpg');
    background-repeat: repeat;
    padding: 15px;

}

.accueil{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

@media only screen and (min-width: 767px) {
    .accueil{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width: 1200px) {
    .accueil{
        width: 60%;
    }

    .app{
        background-image: url('../../assets/quadrillage.jpg');
        background-repeat: repeat;
        margin-left: 250px;
        margin-right: 250px;
        padding: 15px;
        border: 1px solid #000000;
    }

    .accueil{
        width: 100%;
    }

    .containerAllStack{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px;
    }

    .containerAccueil{
        display: flex;
        flex-direction: column;
    }
}