body {
  margin: 0;
  font-family: 'Abril Fatface', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-image: url('../assets/quadrillage.jpg');
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app{
  //cursor: url('../assets/cursorAlpaga.cur'), auto;
}

$primary-color: black;
$secondary-color: #525252;
$tertiary-color: #c5c5c5;

$secondary-font: 'Mansalva', cursive;

@keyframes spawnEffect  {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    left: -100px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}