.cardContact{
    width: 250px;
    height: 254px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 25px;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
    margin-bottom: 50px;

    h4{
        margin: 15px;
        font-size: 30px;
        border-bottom: black;
    }

    .line{
        width: 100%;
        height: 3px;
        color: black;
        background-color: black;
    }
}