@import '../../styles/index.scss';

.contactContainer{
    display: flex;
    justify-content: center;
}

.contactTop{
    max-width: 420px;
    margin-right: 15px;
    height: 54px;
    background: $tertiary-color;
    border: 3px solid #000;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 15px 15px 0 -2.5px $tertiary-color, 15px 15px 0 0 #000;
    flex-shrink: 0;

    h4{
        margin: 15px;
        font-size: 30px;
        border-bottom: black;
    }
}

.contactBottom{
    max-width: 420px;
    margin-right: 15px;
    background: #fff;
    border: 3px solid #000;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 15px 13px 0 -2.5px #fff, 15px 13px 0 0 #000;
    margin-bottom: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;

    .linkContact{
        margin: 25px;
        font-size: 50px;
    }
}