@import '../../styles/index.scss';

.allStackContainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: white;
    border: 3px solid #000;
    box-shadow: 15px 15px 0 -2.5px white, 15px 15px 0 0 #000;

    p{
        margin: 25px;
    }
}

.allStack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .logoStack{
        margin: 20px;
        width: 50px;
    }
}